body {
    
}

h1 {
    margin-left: 10px;
}

div.content {
    margin-left: 20px;
}

div.information {
    margin-left: 250px;
    margin-top: -60px;
}

div.id-input {
    margin-left: 250;
}

#player1 {
    margin-top: 30px;
}

.control {
    margin-top: 10px;
}

div.chat {
    margin-left: 600px;
    margin-top: -370px;
}

#msg, #msg-history {
    border: solid 1px black;
    background-color: white;
}
